* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  color: #333;
}

li {
  display: flex;
  justify-content: space-between;
  padding: 0.6rem 1rem;

  cursor: pointer;
}

li:hover {
  background-color: #c3fae8;
}

.container {
  display: grid;
  grid-template-columns: 20rem 1fr;
  grid-template-rows: 4rem 1fr;
  height: 100vh;
  width: 100vw;

  overflow-x: hidden;
}

.header {
  grid-column: 1 / 3;

  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 1rem;
  padding: 1rem 2rem;

  color: #fff;
  background-color: #5c940d;
}

.inbox-box,
.projects-box {
  padding-top: 2rem;
}

.projects-box {
  padding: 2rem 1rem 1rem 1rem;
}

.project-title {
  display: flex;
  align-items: center;
  gap: 1rem;

  font-size: 18px;
}

.icon-box {
  display: flex;
  gap: 1rem;
}

.icon {
  height: 24px;
  width: 24px;
}

.icon-inbox {
  color: #1971c2;
}

.icon-today {
  color: #f59f00;
}

.icon-priority {
  color: #3b5bdb;
}

header .icon:hover,
.add-project:hover {
  transform: scale(120%);
  cursor: pointer;
}

.add-task-box {
  display: flex;
  gap: 1rem;
}

.nav {
  grid-area: 2 / 1 / 3 / 2;

  background-color: #e6fcf5;
}

#content {
  grid-area: 2 / 2 / 3 / 3;

  max-width: 800px;
  width: 100%;
  margin: 0 auto;

  padding: 4rem;
  color: #333;
}

.inbox-title-box {
  display: flex;
  align-items: center;
  gap: 1rem;

  margin-bottom: 1rem;
}

.inbox-title {
  font-size: 28px;
}

.heading {
  margin-bottom: 0.6rem;
}

/* Todo Cards */

.todo-card {
  padding: 1rem;
  margin-bottom: 0.6rem;
  border-radius: 6px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);

  cursor: pointer;
}

.todo-card:hover {
  transform: scale(101%);
}

.todo-title {
  grid-area: 1 / 1 / 2 / 2;
  font-size: 18px;
  font-weight: 600;
}

.todo-desc {
  grid-area: 2 / 1 / 3 / 2;
  font-size: 14px;
  color: #555;
}

.todo-due-date {
  justify-self: flex-end;
}

.inbox {
  margin-bottom: 2rem;
}

.date,
.todo-due-date {
  font-size: 12px;
  color: #777;
}

/* Priority settings */

.priority-1 {
  border: 1px solid #e03131;
}

.priority-2 {
  border: 1px solid #f59f00;
}

.priority-3 {
  border: 1px solid #1971c2;
}

.priority-4 {
  border: 1px solid #ccc;
}

.title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}